:root {
  --green-dark: #103713;
  --green-medium: #628B35;
  --bone: #E2DBD0;
  --milk: #FFFDF5;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bone);
  color: #333;
  line-height: 1.6;
}

header {
  background-color: var(--green-dark);
  color: white;
  padding: 20px 10px 10px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
  margin: 0;
  font-size: 2.2em;
}

nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  background-color: var(--green-dark);
  padding-bottom: 10px;
}

nav a {
  color: var(--milk);
  text-decoration: none;
  margin: 0 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
}

nav a:hover {
  background-color: var(--green-medium);
  color: white;
}

nav a.active {
  background-color: var(--green-medium);
  color: white;
}

main {
  background-color: var(--milk);
  padding: 30px;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

footer {
  background-color: #f1f1f1;
  color: #555;
  text-align: center;
  padding: 15px;
  font-size: 0.9em;
  margin-top: 40px;
}

/* tabla de SOBA */
.update-table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 600px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .update-table th,
  .update-table td {
    padding: 12px 20px;
    text-align: left;
  }

  .update-table thead {
    background-color: #4BC6B9;
    color: white;
  }

  .update-table tbody tr {
    background-color: #f9f9f9;
    transition: background-color 0.3s;
  }

  .update-table tbody tr:hover {
    background-color: #e6f7f5;
  }

  .update-table a {
    color: #007B8A;
    text-decoration: none;
  }

  .update-table a:hover {
    text-decoration: underline;
  }

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    gap: 8px;
  }

  main {
    padding: 20px 15px;
  }

  header h1 {
    font-size: 1.6em;
  }

  img {
  max-width: 100%;
  height: auto;
}

}

